/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

#file {  display: none}

.file_label {
    display: block;
    margin-left: 37%;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: Arial;
    width: 250px;
    height: 50px;
    line-height: 40px;
    background-color: #82ae46;
    color: #FFF;
    text-align: center;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    transition: all 0.3s ease-in-out
}

.file_label:hover {
    background-color: #dccb18;
    color: #ffffff;
}
.fa {
    margin-right: 5px
}

.button.alternative {
    --color-hover: #2B3044;
    --background: #362A89;
    --hover-back: #6D58FF;
    --hover-front: #F6F8FF;
  }
  .button.simple {
    --background: #275EFE;
    --background-hover: #1749DB;
  }
  
  .button {
    --color: #fff;
    --color-hover: var(--color);
    --background: #2B3044;
    --background-hover: var(--background);
    --hover-back: #6D58FF;
    --hover-front: #5C86FF;
    left: 43%;
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-mask-image: -webkit-radial-gradient(white, black);*/
    color: var(--c, var(--color));
    background: var(--b, var(--background));
    transition: color 0.2s linear var(--c-d, 0.2s), background 0.3s linear var(--b-d, 0.2s);
  }
  .button:not(.simple):before, .button:not(.simple):after {
    content: "";
    position: absolute;
    background: var(--pb, var(--hover-back));
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    border-radius: var(--br, 40%);
    transform: translateY(var(--y, 50%));
    transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
  }
  .button:not(.simple):after {
    --pb: var(--hover-front);
    --d: .44s;
  }
  .button div {
    z-index: 1;
    position: relative;
    display: flex;
  }
  .button div span {
    display: block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-animation: var(--name, none) 0.7s linear forwards 0.18s;
            animation: var(--name, none) 0.7s linear forwards 0.18s;
  }
  .button.in {
    --name: move;
  }
  .button.in:not(.out) {
    --c: var(--color-hover);
    --b: var(--background-hover);
  }
  .button.in:not(.out):before, .button.in:not(.out):after {
    --y: 0;
    --br: 5%;
  }
  .button.in:not(.out):after {
    --br: 10%;
    --d-d: .02s;
  }
  .button.in.out {
    --name: move-out;
  }
  .button.in.out:before {
    --d-d: .06s;
  }
  
  @-webkit-keyframes move {
    30%, 36% {
      transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
    }
    50% {
      transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
    }
    70% {
      transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
    }
  }
  
  @keyframes move {
    30%, 36% {
      transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
    }
    50% {
      transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
    }
    70% {
      transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
    }
  }
  @-webkit-keyframes move-out {
    30%, 36% {
      transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
    }
    50% {
      transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
    }
    70% {
      transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
    }
  }
  @keyframes move-out {
    30%, 36% {
      transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
    }
    50% {
      transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
    }
    70% {
      transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
    }
  }
  
  .charts {
    font-size: 1em;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
  
  .bar {
    font-size: 1em;
    position: relative;
    height: 10em;
    transition: all 0.3s ease-in-out;
    transform: rotateX(60deg) rotateY(0deg);
    transform-style: preserve-3d;
  }
  .bar .face {
    position: relative;
    width: 100%;
    height: 2em;
    background-color: rgba(254, 254, 254, 0.3);
  }
  .bar .face.side-a, .bar .face.side-b {
    width: 2em;
  }
  .bar .side-a {
    transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
  }
  .bar .side-b {
    transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
    position: absolute;
    right: 0;
  }
  .bar .side-0 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
  }
  .bar .side-1 {
    transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
  }
  .bar .top {
    transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
  }
  .bar .floor {
    box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
  }
  
  .growing-bar {
    transition: all 0.3s ease-in-out;
    background-color: rgba(236, 0, 140, 0.6);
    width: 100%;
    height: 2em;
  }
  
  .bar.yellow .side-a,
  .bar.yellow .growing-bar {
    background-color: rgba(241, 196, 15, 0.6);
  }
  .bar.yellow .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em rgba(241, 196, 15, 0.8);
  }
  .bar.yellow .floor .growing-bar {
    box-shadow: 0em 0em 2em rgba(241, 196, 15, 0.8);
  }
  
  .bar.red .side-a, input[id='red']:checked ~ .charts .side-a,
  .bar.red .growing-bar,
  input[id='red']:checked ~ .charts .growing-bar {
    background-color: rgba(236, 0, 140, 0.6);
  }

  .bar.red .side-0 .growing-bar, input[id='red']:checked ~ .charts .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em rgba(236, 0, 140, 0.8);
  }
  .bar.red .floor .growing-bar, input[id='red']:checked ~ .charts .floor .growing-bar {
    box-shadow: 0em 0em 2em rgba(236, 0, 140, 0.8);
  }
  
  .bar.cyan .side-a, input[id='cyan']:checked ~ .charts .side-a,
  .bar.cyan .growing-bar,
  input[id='cyan']:checked ~ .charts .growing-bar {
    background-color: rgba(87, 202, 244, 0.6);
  }
  .bar.cyan .side-0 .growing-bar, input[id='cyan']:checked ~ .charts .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em #57caf4;
  }
  .bar.cyan .floor .growing-bar, input[id='cyan']:checked ~ .charts .floor .growing-bar {
    box-shadow: 0em 0em 2em #57caf4;
  }
  
  .bar.navy .side-a,
  .bar.navy .growing-bar {
    background-color: rgba(10, 64, 105, 0.6);
  }
  .bar.navy .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em rgba(10, 64, 105, 0.8);
  }
  .bar.navy .floor .growing-bar {
    box-shadow: 0em 0em 2em rgba(10, 64, 105, 0.8);
  }
  
  .bar.lime .side-a, input[id='lime']:checked ~ .charts .side-a,
  .bar.lime .growing-bar,
  input[id='lime']:checked ~ .charts .growing-bar {
    background-color: rgba(118, 201, 0, 0.6);
  }
  .bar.lime .side-0 .growing-bar, input[id='lime']:checked ~ .charts .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em #76c900;
  }
  .bar.lime .floor .growing-bar, input[id='lime']:checked ~ .charts .floor .growing-bar {
    box-shadow: 0em 0em 2em #76c900;
  }
  
  .bar.white .side-a,
  .bar.white .growing-bar {
    background-color: rgba(254, 254, 254, 0.6);
  }
  .bar.white .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em #fefefe;
  }
  .bar.white .floor .growing-bar {
    box-shadow: 0em 0em 2em #fefefe;
  }
  
  .bar.gray .side-a,
  .bar.gray .growing-bar {
    background-color: rgba(68, 68, 68, 0.6);
  }
  .bar.gray .side-0 .growing-bar {
    box-shadow: -0.5em -1.5em 4em #444;
  }
  .bar.gray .floor .growing-bar {
    box-shadow: 0em 0em 2em #444;
  }
  
  .charts .bar.yellow-face .face {
    background-color: rgba(241, 196, 15, 0.2);
  }
  
  .charts .bar.lime-face .face {
    background-color: rgba(118, 201, 0, 0.2);
  }
  
  .charts .bar.red-face .face {
    background-color: rgba(236, 0, 140, 0.2);
  }
  
  .charts .bar.navy-face .face {
    background-color: rgba(10, 64, 105, 0.2);
  }
  
  .charts .bar.cyan-face .face {
    background-color: rgba(87, 202, 244, 0.2);
  }
  
  .charts .bar.gray-face .face {
    background-color: rgba(68, 68, 68, 0.2);
  }
  
  .charts .bar.lightGray-face .face {
    background-color: rgba(145, 145, 145, 0.2);
  }
  
  .bar-0 .growing-bar {
    width: 0%;
  }
  
  .bar-1 .growing-bar {
    width: 1%;
  }
  
  .bar-2 .growing-bar {
    width: 2%;
  }
  
  .bar-3 .growing-bar {
    width: 3%;
  }
  
  .bar-4 .growing-bar {
    width: 4%;
  }
  
  .bar-5 .growing-bar {
    width: 5%;
  }
  
  .bar-6 .growing-bar {
    width: 6%;
  }
  
  .bar-7 .growing-bar {
    width: 7%;
  }
  
  .bar-8 .growing-bar {
    width: 8%;
  }
  
  .bar-9 .growing-bar {
    width: 9%;
  }
  
  .bar-10 .growing-bar {
    width: 10%;
  }
  
  .bar-11 .growing-bar {
    width: 11%;
  }
  
  .bar-12 .growing-bar {
    width: 12%;
  }
  
  .bar-13 .growing-bar {
    width: 13%;
  }
  
  .bar-14 .growing-bar {
    width: 14%;
  }
  
  .bar-15 .growing-bar {
    width: 15%;
  }
  
  .bar-16 .growing-bar {
    width: 16%;
  }
  
  .bar-17 .growing-bar {
    width: 17%;
  }
  
  .bar-18 .growing-bar {
    width: 18%;
  }
  
  .bar-19 .growing-bar {
    width: 19%;
  }
  
  .bar-20 .growing-bar, input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(1) .growing-bar {
    width: 20%;
  }
  
  .bar-21 .growing-bar {
    width: 21%;
  }
  
  .bar-22 .growing-bar {
    width: 22%;
  }
  
  .bar-23 .growing-bar {
    width: 23%;
  }
  
  .bar-24 .growing-bar {
    width: 24%;
  }
  
  .bar-25 .growing-bar, input[id='pos-0']:checked ~ .chart .growing-bar {
    width: 25%;
  }
  
  .bar-26 .growing-bar {
    width: 26%;
  }
  
  .bar-27 .growing-bar {
    width: 27%;
  }
  
  .bar-28 .growing-bar {
    width: 28%;
  }
  
  .bar-29 .growing-bar {
    width: 29%;
  }
  
  .bar-30 .growing-bar {
    width: 30%;
  }
  
  .bar-31 .growing-bar {
    width: 31%;
  }
  
  .bar-32 .growing-bar {
    width: 32%;
  }
  
  .bar-33 .growing-bar {
    width: 33%;
  }
  
  .bar-34 .growing-bar {
    width: 34%;
  }
  
  .bar-35 .growing-bar {
    width: 35%;
  }
  
  .bar-36 .growing-bar {
    width: 36%;
  }
  
  .bar-37 .growing-bar {
    width: 37%;
  }
  
  .bar-38 .growing-bar {
    width: 38%;
  }
  
  .bar-39 .growing-bar {
    width: 39%;
  }
  
  .bar-40 .growing-bar {
    width: 40%;
  }
  
  .bar-41 .growing-bar {
    width: 41%;
  }
  
  .bar-42 .growing-bar {
    width: 42%;
  }
  
  .bar-43 .growing-bar {
    width: 43%;
  }
  
  .bar-44 .growing-bar {
    width: 44%;
  }
  
  .bar-45 .growing-bar {
    width: 45%;
  }
  
  .bar-46 .growing-bar {
    width: 46%;
  }
  
  .bar-47 .growing-bar {
    width: 47%;
  }
  
  .bar-48 .growing-bar {
    width: 48%;
  }
  
  .bar-49 .growing-bar {
    width: 49%;
  }
  
  .bar-50 .growing-bar, input[id='pos-1']:checked ~ .chart .growing-bar, input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(2) .growing-bar, input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(1) .growing-bar, input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(2) .growing-bar {
    width: 50%;
  }
  
  .bar-51 .growing-bar {
    width: 51%;
  }
  
  .bar-52 .growing-bar {
    width: 52%;
  }
  
  .bar-53 .growing-bar {
    width: 53%;
  }
  
  .bar-54 .growing-bar {
    width: 54%;
  }
  
  .bar-55 .growing-bar {
    width: 55%;
  }
  
  .bar-56 .growing-bar {
    width: 56%;
  }
  
  .bar-57 .growing-bar {
    width: 57%;
  }
  
  .bar-58 .growing-bar {
    width: 58%;
  }
  
  .bar-59 .growing-bar {
    width: 59%;
  }
  
  .bar-60 .growing-bar {
    width: 60%;
  }
  
  .bar-61 .growing-bar {
    width: 61%;
  }
  
  .bar-62 .growing-bar {
    width: 62%;
  }
  
  .bar-63 .growing-bar {
    width: 63%;
  }
  
  .bar-64 .growing-bar {
    width: 64%;
  }
  
  .bar-65 .growing-bar {
    width: 65%;
  }
  
  .bar-66 .growing-bar {
    width: 66%;
  }
  
  .bar-67 .growing-bar {
    width: 67%;
  }
  
  .bar-68 .growing-bar {
    width: 68%;
  }
  
  .bar-69 .growing-bar {
    width: 69%;
  }
  
  .bar-70 .growing-bar, input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(1) .growing-bar, input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(2) .growing-bar, input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(3) .growing-bar {
    width: 70%;
  }
  
  .bar-71 .growing-bar {
    width: 71%;
  }
  
  .bar-72 .growing-bar {
    width: 72%;
  }
  
  .bar-73 .growing-bar {
    width: 73%;
  }
  
  .bar-74 .growing-bar {
    width: 74%;
  }
  
  .bar-75 .growing-bar, input[id='pos-2']:checked ~ .chart .growing-bar {
    width: 75%;
  }
  
  .bar-76 .growing-bar {
    width: 76%;
  }
  
  .bar-77 .growing-bar {
    width: 77%;
  }
  
  .bar-78 .growing-bar {
    width: 78%;
  }
  
  .bar-79 .growing-bar {
    width: 79%;
  }
  
  .bar-80 .growing-bar, input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(3) .growing-bar {
    width: 80%;
  }
  
  .bar-81 .growing-bar {
    width: 81%;
  }
  
  .bar-82 .growing-bar {
    width: 82%;
  }
  
  .bar-83 .growing-bar {
    width: 83%;
  }
  
  .bar-84 .growing-bar {
    width: 84%;
  }
  
  .bar-85 .growing-bar {
    width: 85%;
  }
  
  .bar-86 .growing-bar {
    width: 86%;
  }
  
  .bar-87 .growing-bar {
    width: 87%;
  }
  
  .bar-88 .growing-bar {
    width: 88%;
  }
  
  .bar-89 .growing-bar {
    width: 89%;
  }
  
  .bar-90 .growing-bar {
    width: 90%;
  }
  
  .bar-91 .growing-bar {
    width: 91%;
  }
  
  .bar-92 .growing-bar {
    width: 92%;
  }
  
  .bar-93 .growing-bar {
    width: 93%;
  }
  
  .bar-94 .growing-bar {
    width: 94%;
  }
  
  .bar-95 .growing-bar {
    width: 95%;
  }
  
  .bar-96 .growing-bar {
    width: 96%;
  }
  
  .bar-97 .growing-bar {
    width: 97%;
  }
  
  .bar-98 .growing-bar {
    width: 98%;
  }
  
  .bar-99 .growing-bar {
    width: 99%;
  }
  
  .bar-100 .growing-bar, input[id='pos-3']:checked ~ .chart .growing-bar, input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(3) .growing-bar {
    width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 2em;
    border-bottom: 1px dotted rgba(68, 68, 68, 0.4);
  }

 .color-label {
    box-sizing: border-box;
    padding: 1em;
    margin: 0 .2em;
    cursor: pointer;
    transition: all .15s ease-in-out;
    color: #fff;
    border: 1px solid rgba(254, 254, 254, 0.6);
    border-radius: 0;
    flex: 0.05;
    text-align: center;
  }
.color-label:first-child {
    margin-left: 0;
    border-radius: .2em 0 0 .2em;
  }
.color-label:last-child {
    margin-right: 0;
    border-radius: 0 .2em .2em 0;
  }

  input[id='red']:checked ~ .actions label[for='red'],
  input[id='cyan']:checked ~ .actions label[for='cyan'],
  input[id='lime']:checked ~ .actions label[for='lime'] {
    color: #76c900;
    border: 1px solid #031523;
    background-color: #0a4069;
  }
  
  input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(1) {
    flex: 1 0 0%;
  }
  input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(2) {
    flex: 1;
  }
  input[id='exercise-2']:checked ~ .chart.grid .exercise .bar:nth-child(3) {
    flex: 1 0 30%;
  }
  
  input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(1), input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(2), input[id='exercise-3']:checked ~ .chart.grid .exercise .bar:nth-child(3) {
    flex: 1;
  }
  
  input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(1), input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(2) {
    flex: 1 0 30%;
  }
  input[id='exercise-4']:checked ~ .chart.grid .exercise .bar:nth-child(3) {
    flex: 1;
  }

  #progress-text{
    color: #fde8d0;
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }

  .loader {
    opacity: 0;
    height: 20px;
    width: 250px;
    text-align: center;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    /*border: 2px solid white;*/
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  #upload-message{
    text-align: center;
    color: red;
  }

  .headline {
    align-items: center;
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 30px;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    scroll-snap-align: start;
    width: 100%;
  }

  .headline--jump .char {
    --name: jump;
    --dur: 3000ms;
    --del: calc(var(--char-index) * 0.17s);
    --tf: cubic-bezier(0.165, 0.44, 0.64, 1);
    color: #ffff00;
  }
  @-webkit-keyframes jump {
    20% {
      transform: translateY(2%) scaleY(0.9);
    }
    40% {
      transform: translateY(-100%) scaleY(1.2);
    }
    50% {
      transform: translateY(10%) scaleY(0.8);
    }
    70% {
      transform: translateY(-5%) scaleY(1);
    }
    80%, 100% {
      transform: translateY(0) scaleY(1);
    }
  }
  @keyframes jump {
    20% {
      transform: translateY(2%) scaleY(0.9);
    }
    40% {
      transform: translateY(-100%) scaleY(1.2);
    }
    50% {
      transform: translateY(10%) scaleY(0.8);
    }
    70% {
      transform: translateY(-5%) scaleY(1);
    }
    80%, 100% {
      transform: translateY(0) scaleY(1);
    }
  }

  .word,
.char {
  -webkit-animation-delay: var(--del);
          animation-delay: var(--del);
  -webkit-animation-direction: var(--dir, normal);
          animation-direction: var(--dir, normal);
  -webkit-animation-duration: var(--dur);
          animation-duration: var(--dur);
  -webkit-animation-iteration-count: var(--it, infinite);
          animation-iteration-count: var(--it, infinite);
  -webkit-animation-name: var(--name);
          animation-name: var(--name);
  -webkit-animation-timing-function: var(--tf);
          animation-timing-function: var(--tf);
  -webkit-animation-fill-mode: var(--fill, forwards);
          animation-fill-mode: var(--fill, forwards);
  display: inline-block;
  position: relative;
  transform-origin: 50% 100%;
  z-index: 1;
}